/* Quicksand font */

.quicksand_font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ! Common styles */

*{
    margin: 0;
    padding: 0;
}
/* main{
    max-width: 1160px;
    margin: 0 auto;
} */
.primary_btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 10px 60px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.9rem;
    border: none;
    cursor: pointer;
}

/* ! Header Design */

header{
    max-width: 1160px;
    margin: 0 auto;
}
.nav_for_pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.logo_site_name{
    display: flex;
    gap: 15px;
    align-items: center;
}
.logo_site_name span{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.9rem;
}
.main_nav ul{
    display: flex;
    gap: 32px;
}
.main_nav ul li{
    list-style: none;  
}
.main_nav_item1{
    color: rgb(254, 163, 1);
}
.main_nav_item2{
    color: rgb(1, 172, 253);
}
.main_nav_item3{
    color: rgb(5, 212, 223);
}
.main_nav_item4{
    color: rgb(93, 88, 239);
}
.main_nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
/* Header banner */
.header_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.header_banner_left{
    max-width: 640px;
}
.header_banner_left_content_container > h2{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8rem;
    color: rgb(17, 17, 17);
}
.header_banner_left_content_container > h2 .one{
    color: rgb(254, 163, 1);
}
.header_banner_left_content_container > h2 .two{
    color: rgb(1, 172, 253);
}
.header_banner_left_content_container > p{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 24px 0px;
}
.header_banner_left_content_container button{
    background-color: rgb(17, 17, 17);
}
.header_banner_right_img_con img{
    width: 100%;
}

/* ! Marquee section */

.marquee{
    max-width: 1160px;
    margin: 10px auto;
}
marquee{
    padding: 10px 5px;
    background-color: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.9rem;
    border-radius: 5px;
}

/* ! Standard curriculum section design */

.standard_curriculum_section{
    background: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.standard_curriculum_container > h2{
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: center;
    margin-bottom: 80px;
}
.standard_curriculum_container{
    max-width: 1160px;
    margin: 0 auto;
}
.standard_curriculum_cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
}
.standard_curriculum_card{
    border-radius: 18.86px;
    max-width: 288px;
    padding: 52px 40px 53px 40px;
    text-align: center;
}
.standard_curriculum_card_img_container{
    margin: 0 auto;
    width: 50%;
    height: 135px;
}
.standard_curriculum_card_img_container img{
    width: 100%;
}
.standard_curriculum_card > h3{
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-top: 37px;
    margin-bottom: 33px;
}
.standard_curriculum_card > p{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-bottom: 38px;
}
.standard_curriculum_card > a{
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.75rem;
    text-decoration: none;
}
/* special design for standard card */
#standard_card1{
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#standard_card1 a{
    color: rgb(100, 200, 255);
}
#standard_card2{
    border: 0.94px solid rgb(255, 244, 220);
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#standard_card2 a{
    color: rgb(240, 170, 0);
}
#standard_card3{
    border: 0.94px solid rgb(242, 232, 255);
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#standard_card3 a{
    color: rgb(135, 0, 255);
}
/* Standard curriculum nav */
.standard_curriculum_nav{
    margin-top: 80px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.standard_curriculum_nav button{
    background: rgb(254, 163, 1);
    color: #ffffff;
    padding: 16px 22px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/* ! Our stories section design */

.our_stories{
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    padding-bottom: 60px;
    background-size: contain;
}
.our_stories_container{
    max-width: 1160px;
    margin: 0 auto;
}
.our_stories_container h2{
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.5rem;
}
.our_stories_left_right_container{
    display: flex;
    justify-content: space-between;
}
.our_stories_left{
    max-width: 540px;
}
.our_stories_left_card{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding-bottom: 34px;
}
.our_stories_left_card_img_container img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.our_stories_left_card_content_container{
    padding-left: 38px;
    position: relative;
}
.our_stories_left_card_content_container > button{
    position: absolute;
    top: -95px;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    border: none;
}
.our_stories_left_card_content_container > h3{
    margin-top: 61px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.3rem;
}
.our_stories_left_card_content_container > p{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}
.our_stories_right_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our_stories_right_card{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding-bottom: 33px;
}
.our_stories_right_card_img_container img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.our_stories_right_card_content_container{
    padding-left: 37px;
    position: relative;
}
.our_stories_right_card_content_container > .btn{
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    border: none;
    position: absolute;
    top: -72px;
}
.our_stories_right_card_content_container > .right_card_different_btn{
    background: rgb(93, 88, 240);;
}
.our_stories_right_card_content_container > p{
    margin-top: 43px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
}
.our_stories_btn{
    text-align: center;
}
.our_stories_btn button{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    padding: 10px 60px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.8rem;
    border: none;
    margin-top: 80px;
    cursor: pointer;
}

/* ! Footer Design */

footer{
    padding-top: 123px;
    padding-bottom: 174px;
    background: rgb(1, 172, 253);
}
.footer_content_container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer_content1_logo_name{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer_content1_logo_container{
    width: 82px;
}
.footer_content1_logo_name > h4{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.footer_content1 > p{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 35px;
}
.footer_content1_logo_container img{
    /* background-color: white; */
    width: 100%;
}
.footer_content2 > h4, .footer_content3 > h4{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
}
.footer_content2 > ul{
    list-style: none;
    margin-top: 32px;
}
.footer_content2 > ul li{
    margin-top: 20px;
}
.footer_content2 > ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    /* margin-top: 20px; */
}
.social_icon_box{
    margin-top: 32px;
    display: flex;
    gap: 10px;
}
.social_icon_box img{
    width: 100%;
}




/* ? Responsive for Mobile max-width: 576px */

@media screen and (max-width: 576px){
    .nav_for_pc{
        display: none;
    }
    .nav_for_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-bottom: .5px solid rgb(254, 163, 1);
    }
    .mobile_menu_icon{
        font-size: 2rem;
    }
    .header_banner{
        flex-direction: column-reverse;
        padding: 0px 15px;
    }
    .header_banner_left_content_container{
        text-align: center;
    }
    .header_banner_left_content_container h2{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .standard_curriculum_section{
        /* background-size: contain; */
        background-position: top right;
    }
    .standard_curriculum_cards{
        flex-direction: column;
    }
    .standard_curriculum_container{
        padding: 0 15px;
    }
    .standard_curriculum_container h2{
        font-size: 2rem;
        line-height: 2rem;
    }
    .standard_curriculum_nav{
        display: none;
    }
    .our_stories{
        background-size: cover;
    }
    .our_stories_container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .our_stories_left_right_container{
        flex-direction: column;
    }
    .our_stories_left{
        display: none;
    }
    .our_stories_right_cards{
        gap: 11px;
    }
    .our_stories_right_card_content_container{
        padding-left: 22px;
    }
    .our_stories_right_card_content_container > .btn{
        font-size: .6rem;
        font-weight: 500;
        line-height: 1rem;
        padding: 6px 12px;
        top: -63px;
    }
    .our_stories_right_card_content_container > p{
    font-size: .6rem;
    font-weight: 700;
    line-height: 1rem;
    }
    footer{
        padding-top: 66px;
        padding-bottom: 60px;
    }
    .footer_content_container{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer_content1 > p{
        font-size: 1rem;
    }
    .footer_content2{
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
}


/* ? Responsive for tablet max 992px */

@media screen and (min-width: 576px) and (max-width: 992px){
    .nav_for_pc{
        display: none;
    }
    .nav_for_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        
    }
    .mobile_menu_icon{
        font-size: 2rem;
    }
    
}

/* ? Special responsiveness */
@media screen and (min-width: 992px){
    .nav_for_mobile{
        display: none;
    }
    .special{
        display: none;
    }
}